.dashboard-section{
    position: relative;
}

.dashboard-section-pointer {
    pointer-events: none;
}

.dashboard-section-blur{
    background-color: rgb(151, 148, 148);
    opacity: 0.4;
    height: 100vh;
    z-index: 500;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;

}

.dashboard h1 span {
    color: #922F4D;
    font-style: italic;
}

.new-board-style{
    background-color: #922F4D;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}

.create-task-card{
    background-color: #FFFFFF;
    max-width: 40rem;
    width: 90%;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  #b8b6b6;
    margin: 2rem auto;
}

.create-task-card-position{
    z-index: 1000;
    position:absolute ;
    top: 25%;
    left: 35%;
}

.create-task-card header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.create-task-card header h1 {
    margin: 0 auto;
}

.create-task-card img {
    cursor: pointer;
    max-width: 100%;
}

.create-task-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-task-form .add-recipient{
    text-decoration: none;
    background-color: white;
    border: none;
    color:#922F4D;
    cursor: pointer;
    font-size: 1rem;
}

.create-task-form .add-recipient span {
    font-weight: bold;
}


.create-task-form .add-recipient:hover{
    color: #be4469;
    text-decoration: underline;
}

.create-task-form input {
    width: 100%;
    padding: 1rem 0.5rem;
}

.input-style {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input-style div {
    margin: 0.5rem;
}

.input-style input {
    width: 45%;
    margin-right: 0.5rem;
}

.cross-icon{
    background-color: #922F4D;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

.create-board-button {
    background-color:#922F4D;
    color: #FFFFFF;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.list-section{
    background: linear-gradient(#922F4D, #eb6089);
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;
}

.task-list-card{
    width: 90%;
    max-width: 70rem;
    background-color: #FFFFFF;
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 30% 70%;
}

.task-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.view-board, .delete-board {
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: transparent;
    margin-right: 1rem;
}

.view-board{
    color: #922F4D;
    border: 1px #922F4D solid;
}
.view-board:hover{
    border-color: #be4469;
    color: #be4469;
}

.delete-board{
    color: rgb(202, 25, 25);
    border: 1px rgb(202, 25, 25) solid;
}

.delete-board:hover{
    border-color: red;
    color: red;
}

.task-list-section{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
}

.task-list-image{
    width: 12rem;
    height: 10rem;
    position: relative;
    text-align: center;
}

.task-list-image-styling {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.task-list-image-edit-icon{
    width: 2rem;
    height:2rem;
    position: absolute;
    top: -10%;
    left: -20%;
    cursor: pointer;

}

.task-list-image-edit-icon img {
    max-width: 100%;
    z-index: 999;
}

.new-board-list-section{
    text-align: center;
    margin-bottom: 1rem;
}

.board-section{
    background: url('../../images/board-image.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.board-header{
    background-color: #922F4D;
    color: #FFFFFF;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.add-to-board {
    background-color: #FFFFFF;
    font-weight: bolder;
    font-size: 1rem;
    border: 1px #FFFFFF solid;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: -10%;
    left: 20%;
    z-index: 200;
    cursor: pointer;
}

.add-to-board:hover {
    color: rgb(43, 42, 42);
}

.noHover {
    pointer-events: none;
}

.card-post-section{
    display: flex;
    flex-wrap: wrap;
}

@media all and (max-width:950px){
    .task-list-card{
        grid-template-columns: 100%;
    }
    .create-task-card-position{
        top: 3rem;
        left: 2rem;
    }
}