.common-layout{
 display: flex;
 justify-content: space-around;
 padding: 0.2rem 1rem;;
}

.logo-kudoboard {
    cursor: pointer;
}

.signin, .create-signin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signin button, .signin-button{
    text-decoration: none;
    color: #1F0D09;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.signin button:hover {
    color: #29C0FA;
}

.heading-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 50%;
    max-width: 35rem;
    margin-left: 12rem;
}

.heading-info h1 {
    font-size: 42px;
    line-height: 50px;
}

.card-section {
    display: grid;
    column-gap:1rem;
    grid-template-columns: auto auto;
    margin: 1rem 12rem 0 2rem;
}

.card-section-even {
    margin-top: 2rem
}

.create-kudoboard{
    background-color: #29C0FA;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    color: #FFFFFF !important;
    text-decoration: none;
    border:none;
    margin-left: 0.2rem;
    
}

.card-layout{
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    box-shadow: 0.2rem 0.5rem #f1f0f0;
    max-width: fit-content;
    height: fit-content;
}

.card-layout .text {
    padding: 0 1rem 0 0.5rem
}

.card-layout .username {
    text-align: right;
    font-size: 14px;
    color:#BABFC3;
    padding-bottom: 0.5rem;

}

.create-without-login, .signinpage{
    background: linear-gradient(#129EFA, #29C0FA);
    width: 100vw;
    height: 100vh;
}

.signin-button:hover{
    font-weight: bold;
    color: black;

}

.register-button{
    background-color: white;
    font-weight: bold;
    color: black;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px white solid;
    cursor: pointer;
    font-size: 1rem;
}

.register-button:hover{
    color: #817e7e;
}

.loader-style{
    display: flex;
    justify-content: center;
}

.image-modal-parent{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.image-modal-main-section{
    height: 99.9vh;
    background-color: white;
    max-width: 25rem;
    width: 90%;
    margin: 0 auto;
    z-index: 1000;
    position:fixed;
    border: 1px black solid;
}

.image-header,.nav-close-modal,.header-info{
    padding: 0 1rem;
}

.nav-close-modal {
    display: flex;
    justify-content: flex-end;
}

.nav-close-modal img {
    cursor: pointer;
    max-width: 100%;
}

.header-info {
    margin: 2rem auto;
    text-align: center;
}
.buttons-modal-section{
    width: 100%;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #817e7e;
    padding: 2rem;
    position: fixed;
    bottom: 0;
}

.image-dialog-box{
    margin:0 1rem;
    max-width: 25rem;
    height: 15rem;
    border: 1px black dotted;
    text-align: center;
}

.selected-Image-Preview{
    max-width: 25rem;
    height: 15rem;
    margin: 0 1rem;
}

.selected-Image-Preview img {
    max-width: 100%;
    object-fit: cover;
}

.select-image{
    padding: 1rem;
    background-color: transparent;
    border: 1px #129EFA solid;
    border-radius: 0.7rem;
    color: #129EFA;
    margin-top: 1rem;
    cursor: pointer;
}

.close-icon-image-section { 
    max-width: 2rem;
    border-radius: 50%;
    background-color: rgb(202, 197, 197);
    cursor: pointer;
    position: absolute;
    right: 5%;
}

.close-icon-image-section img {
    max-width: 2rem;
}

.disabled-button{
    padding: 1rem;
    background-color: #BABFC3;
    border: none;
    border-radius: 0.5rem;
}
